node_red_flow/flows.json
[
    {
        "id": "23291d32719a541d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "25fb7fb443192f84",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "598c92631207eb2d",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "72c3257969b0b833",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "25fb7fb443192f84",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "598c92631207eb2d",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "c0275c2294899b3a",
        "type": "ui-group",
        "name": "Group 1",
        "page": "72c3257969b0b833",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": true,
        "disabled": false,
        "groupType": "default"
    },
    {
        "id": "03c0878a762646d5",
        "type": "mqtt-broker",
        "name": "test",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6c963ef8b88e0557",
        "type": "mqtt in",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "home/sensors/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "03c0878a762646d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "b713ea3020710dc1"
            ]
        ]
    },
    {
        "id": "35b5aa0b890485af",
        "type": "ui-chart",
        "z": "23291d32719a541d",
        "group": "c0275c2294899b3a",
        "name": "",
        "label": "Temp/Humidity History",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "payload",
        "xAxisPropertyType": "msg",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "0",
        "ymax": "50",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": true,
        "removeOlder": "1",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 980,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "d20487ff397f4d6a",
        "type": "ui-gauge",
        "z": "23291d32719a541d",
        "name": "Temprature",
        "group": "c0275c2294899b3a",
        "order": 15,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Temprature gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 690,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "2d196d45e1e44c4d",
        "type": "ui-gauge",
        "z": "23291d32719a541d",
        "name": "Humidity",
        "group": "c0275c2294899b3a",
        "order": 14,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Humidity gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 700,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "94760f949f1e189f",
        "type": "ui-gauge",
        "z": "23291d32719a541d",
        "name": "Distance",
        "group": "c0275c2294899b3a",
        "order": 13,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Distance gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "200",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 700,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "24d474f85e83a7e8",
        "type": "ui-text",
        "z": "23291d32719a541d",
        "group": "c0275c2294899b3a",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Motion indicator",
        "label": "Motion Indicator",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 700,
        "y": 660,
        "wires": []
    },
    {
        "id": "52bfa74c9233b60b",
        "type": "ui-switch",
        "z": "23291d32719a541d",
        "name": "relay switch",
        "label": "relay switch",
        "group": "c0275c2294899b3a",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "actuators/relay",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "{\"state\": \"on\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"state\": \"off\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "48714e847099b2b3"
            ]
        ]
    },
    {
        "id": "ebc02d6a27aeec88",
        "type": "ui-slider",
        "z": "23291d32719a541d",
        "group": "c0275c2294899b3a",
        "name": "Servo Motor angle",
        "label": "slider",
        "tooltip": "",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "",
        "colorTrack": "",
        "colorThumb": "",
        "showTextField": false,
        "x": 770,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "095898c727872f47",
        "type": "ui-notification",
        "z": "23291d32719a541d",
        "ui": "25fb7fb443192f84",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "",
        "x": 1010,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "b713ea3020710dc1",
        "type": "change",
        "z": "23291d32719a541d",
        "name": "Change Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "d20487ff397f4d6a",
                "35b5aa0b890485af",
                "6ca64b6012e52eee",
                "f62bfc0f226ffe81"
            ]
        ]
    },
    {
        "id": "8bf647e17019360f",
        "type": "mqtt in",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "home/sensors/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "03c0878a762646d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "e4be125161da4df0"
            ]
        ]
    },
    {
        "id": "c6e1f24fce67e042",
        "type": "mqtt in",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "home/sensors/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "03c0878a762646d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 580,
        "wires": [
            [
                "44ab5921224298df"
            ]
        ]
    },
    {
        "id": "4f78148c57b4a347",
        "type": "mqtt in",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "home/sensors/distance",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "03c0878a762646d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 500,
        "wires": [
            [
                "1cec4a8f1337b1d7"
            ]
        ]
    },
    {
        "id": "f8cf001cb1efdc42",
        "type": "mqtt in",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "home/sensors/motion",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "03c0878a762646d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 660,
        "wires": [
            [
                "c7cec6eb91f51b02"
            ]
        ]
    },
    {
        "id": "a5630cfd888451ef",
        "type": "ui-gauge",
        "z": "23291d32719a541d",
        "name": "Light",
        "group": "c0275c2294899b3a",
        "order": 6,
        "value": "payload",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Light gauge",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 710,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e4be125161da4df0",
        "type": "change",
        "z": "23291d32719a541d",
        "name": "Change Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "2d196d45e1e44c4d",
                "35b5aa0b890485af",
                "6ca64b6012e52eee",
                "f62bfc0f226ffe81"
            ]
        ]
    },
    {
        "id": "1cec4a8f1337b1d7",
        "type": "change",
        "z": "23291d32719a541d",
        "name": "Change Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 500,
        "wires": [
            [
                "94760f949f1e189f",
                "f62bfc0f226ffe81"
            ]
        ]
    },
    {
        "id": "44ab5921224298df",
        "type": "change",
        "z": "23291d32719a541d",
        "name": "Change Node",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 580,
        "wires": [
            [
                "a5630cfd888451ef",
                "f62bfc0f226ffe81"
            ]
        ]
    },
    {
        "id": "c7cec6eb91f51b02",
        "type": "function",
        "z": "23291d32719a541d",
        "name": "Motion Function",
        "func": "if (msg.payload.detected === true )\n    msg.payload = \"Motion Detected\";\nelse\n    msg.payload = \"No Motion\";\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 660,
        "wires": [
            [
                "24d474f85e83a7e8"
            ]
        ]
    },
    {
        "id": "9640984848c7d03f",
        "type": "trigger",
        "z": "23291d32719a541d",
        "name": "Trigger Node",
        "op1": "Nothing",
        "op2": "ESP32 OFFLINE",
        "op1type": "str",
        "op2type": "str",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 80,
        "wires": [
            [
                "4ac814df3ad33c13"
            ]
        ]
    },
    {
        "id": "f62bfc0f226ffe81",
        "type": "file",
        "z": "23291d32719a541d",
        "name": "log",
        "filename": "/Users/rehabmahmoud/UNI/Year 4/IOT/data_log.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1050,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "252675aed016d51b",
        "type": "ui-switch",
        "z": "23291d32719a541d",
        "name": "led switch",
        "label": "led switch",
        "group": "c0275c2294899b3a",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "actuators/led",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "{\"state\": \"on\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"state\": \"off\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "48714e847099b2b3"
            ]
        ]
    },
    {
        "id": "29151252b8301da7",
        "type": "ui-switch",
        "z": "23291d32719a541d",
        "name": "Servo Switch",
        "label": "Servo switch",
        "group": "c0275c2294899b3a",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "actuators/servo",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "{\"angle\": 90}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"angle\": 0}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "48714e847099b2b3"
            ]
        ]
    },
    {
        "id": "bd9a8fa33e41bb26",
        "type": "ui-switch",
        "z": "23291d32719a541d",
        "name": "Buzzer switch",
        "label": "Buzzer switch",
        "group": "c0275c2294899b3a",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": false,
        "topic": "actuators/buzzer",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "{\"state\": \"on\"}",
        "onvalueType": "json",
        "onicon": "",
        "oncolor": "",
        "offvalue": "{\"state\": \"off\"}",
        "offvalueType": "json",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "48714e847099b2b3"
            ]
        ]
    },
    {
        "id": "48714e847099b2b3",
        "type": "mqtt out",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03c0878a762646d5",
        "x": 450,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d3c447942c78cba",
        "type": "mqtt in",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "system/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "03c0878a762646d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "9640984848c7d03f"
            ]
        ]
    },
    {
        "id": "4ac814df3ad33c13",
        "type": "ui-text",
        "z": "23291d32719a541d",
        "group": "c0275c2294899b3a",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1050,
        "y": 80,
        "wires": []
    },
    {
        "id": "9e4b9ca69cb0fade",
        "type": "e-mail",
        "z": "23291d32719a541d",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "s-rehab.esmail@zewailcity.edu.eg",
        "dname": "",
        "x": 700,
        "y": 20,
        "wires": []
    },
    {
        "id": "6ca64b6012e52eee",
        "type": "debug",
        "z": "23291d32719a541d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 440,
        "wires": []
    },
    {
        "id": "90c35c69af89a117",
        "type": "ui-number-input",
        "z": "23291d32719a541d",
        "group": "c0275c2294899b3a",
        "name": "",
        "label": "Temperature Threshold",
        "order": 3,
        "width": 0,
        "height": 0,
        "topic": "config/thresholds",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "dd23ac2146617330"
            ]
        ]
    },
    {
        "id": "e3dc36a19ad4801a",
        "type": "ui-number-input",
        "z": "23291d32719a541d",
        "group": "c0275c2294899b3a",
        "name": "",
        "label": "Light Threshold",
        "order": 2,
        "width": 0,
        "height": 0,
        "topic": "config/thresholds",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "2b327ae58ea04c3f"
            ]
        ]
    },
    {
        "id": "64a07af105d25d9f",
        "type": "ui-number-input",
        "z": "23291d32719a541d",
        "group": "c0275c2294899b3a",
        "name": "",
        "label": "Distance Threshold",
        "order": 1,
        "width": 0,
        "height": 0,
        "topic": "config/thresholds",
        "topicType": "msg",
        "min": 0,
        "max": "200",
        "step": 1,
        "tooltip": "",
        "delay": 300,
        "passthru": true,
        "sendOnDelay": false,
        "sendOnBlur": true,
        "sendOnEnter": true,
        "className": "",
        "clearable": false,
        "icon": "",
        "iconPosition": "left",
        "iconInnerPosition": "inside",
        "spinner": "default",
        "x": 570,
        "y": 160,
        "wires": [
            [
                "692d4fd2d103655e"
            ]
        ]
    },
    {
        "id": "5374aa4000d6dd79",
        "type": "mqtt out",
        "z": "23291d32719a541d",
        "name": "",
        "topic": "config/thresholds",
        "qos": "1",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "03c0878a762646d5",
        "x": 1270,
        "y": 200,
        "wires": []
    },
    {
        "id": "692d4fd2d103655e",
        "type": "change",
        "z": "23291d32719a541d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"dist_min\": msg.payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "5374aa4000d6dd79",
                "21b2b479b177a721"
            ]
        ]
    },
    {
        "id": "2b327ae58ea04c3f",
        "type": "change",
        "z": "23291d32719a541d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"light_min\": msg.payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 220,
        "wires": [
            [
                "5374aa4000d6dd79",
                "21b2b479b177a721"
            ]
        ]
    },
    {
        "id": "dd23ac2146617330",
        "type": "change",
        "z": "23291d32719a541d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"temp_max\": msg.payload}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 280,
        "wires": [
            [
                "5374aa4000d6dd79",
                "21b2b479b177a721"
            ]
        ]
    },
    {
        "id": "21b2b479b177a721",
        "type": "debug",
        "z": "23291d32719a541d",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 320,
        "wires": []
    },
    {
        "id": "e738f75ef5c39b76",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2",
            "node-red-node-email": "5.1.0"
        }
    }
]